/*-------------------------
17.breadcrumb-area
--------------------------*/
.breadcrumb-area {
     padding: 10rem 0;
     .page-title {
          font-family: $titlefont;
          font-size: 3.6rem;
          font-weight: 700;
          text-transform: capitalize;
          color: #333333;
     }
     .breadcrumb-menu {
          margin: 0;
          padding: 0;
          li {
               display: inline-block;
               position: relative;
               list-style: none;
               font-family: $bodyFont;
               font-size: 1.8rem;
               font-weight: 400;
               text-transform: capitalize;
               color: #333333;
               margin-right: 3.5rem;
               &:before {
                    position: absolute;
                    content: '';
                    width: 10px;
                    height: 2px; 
                    background: currentColor;
                    top: 15px;
                    left: calc(100% + 15px);
               }
               &:last-child {
                    margin-right: 0;
                    &:before {
                         display: none;
                    }
               }

               a {
                    display: inline-block;
                    color: #333333;
                    transition: $transition;
                    &:hover {
                         color: var(--hover-color);
                    }
               }
          }
     }
}
@media (max-width: 480px) {
     .breadcrumb-area {
          padding: 6rem 0;
      }
     .breadcrumb-area .breadcrumb-menu li {
          font-size: 1.4rem;
          margin-right: 2rem;
     }
     .breadcrumb-area .breadcrumb-menu li::before {
          left: calc(100% + 8px);
     }
}
@media (max-width: 375px) {
     .breadcrumb-area .page-title {
          font-size: 3.2rem;
     }
}