.single-grid-product {
     margin-bottom: 3rem;
     .product-thumbnial {
          position: relative;
          margin-bottom: 3rem;
          overflow: hidden;
          background: #EEF9E7;
          .offer {
               display: inline-block;
               position: absolute;
               padding: 5px;
               top: 10px;
               right: 10px;
               background: var(--black);
               color: var(--white);
               font-family: $bodyFont;
               font-size: 1.4rem;
               line-height: 1;
               font-weight: 400;
          }
          img {
               width: 100%;
               height: auto;
               transition: $transition;
          }
          .product-meta {
               display: flex;
               align-items: center;
               justify-content: space-between;
               padding: 0 1.5rem;
               height: 50px;
               background: var(--black);
               position: absolute;
               width: 100%;
               left: 0;
               bottom: -50px;
               transition: $transition;
               .meta-btn {
                    width: 3rem;
                    height: 3rem;
                    line-height: 3.2rem;
                    border-radius: 50%;
                    background: var(--white);
                    color: var(--black);
                    transition: $transition;
                    font-size: 1.4rem;
                    text-align: center;
                    &:hover {
                         background: var(--hover-color);
                         color: var(--white);
                    }
               }
               .cart-btn {
                    font-size: 1.6rem;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: var(--white);
                    transition: $transition;
                    i {
                         margin-right: 3px;
                    }
                    &:hover {
                         color: var(--hover-color);
                    }
               }
          }
     }
     .product-name {
          margin-bottom: 1rem;
          font-size: 2.4rem;
          font-weight: 400;
          text-transform: capitalize;
          color: #333333;
          a {
               color: #333333;
               transition: $transition;
               &:hover {
                    color: var(--hover-color);
               }
          }
     }
     .product-price {
          display: block;
          font-family: $bodyFont;
          font-size: 2.4rem;
          line-height: 1;
          font-weight: 700;
          color: #333333;
     }
     &:hover {
          .product-thumbnial {
               img {
                    transform: scale(1.1) rotate(-3deg);
               }
          }
          .product-meta  {
               bottom: 0;
          }
     }
}
@media (max-width: 1199px) {
     .single-grid-product .product-name {
          font-size: 2rem;
     }
     .single-grid-product .product-price {
          font-size: 2rem;
     }
     .single-grid-product .product-thumbnial .product-meta {
          padding: 0 1rem;
     }
     .single-grid-product .product-thumbnial .product-meta .cart-btn {
          font-size: 1.4rem;
     }
}
@media (max-width: 479px) {
     .trendy-products-area .col-6 {
          min-width: 100% !important;
     }
}